#banner{
    min-height: 600px;
    width:1500px;
    margin: auto;
}

.left{
    margin-top: 70px;
    float: left;
    width: 20%;
    margin-left: 5%;
    border-right: 2px solid #CCCCCC;
}

.account-info{
    margin-top: 155px;
    float: left;
    width: 60%;
    margin-right: 5%;
    margin-left: 100px;
}

.l-title{
    font-size: 27px;
    font-weight: 650;
}

.l-hello{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #F54253;

}

.l-menu{
    margin-top: 20px;
    text-decoration: none;
}

.l-menu a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.account-order{
    margin-top: 70px;
    float: left;
    width: 60%;
    margin-right: 5%;
    margin-left: 100px;
}

.o-table td, th{
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.o-table table{
    border: 1px solid #CCCCCC;
    border-collapse:collapse;
    width: 100%;
}

.o-table tr:hover{
    background-color:#ddd;
    cursor:pointer;
}

.paid{
    color: #41A139;
    font-weight: 600;
}

.unpaid{
    color: #F54253;
    font-weight: 600;
}


.account-password{
    margin-top: 70px;
    float: left;
    width: 60%;
    margin-right: 5%;
    margin-left: 100px;
}

.form-password input{
    border: 1.5px solid #8D8D8D;
    border-radius: 4px;
    height: 40px;
    width: 500px;
    color: #8D8D8D;
    padding-left: 10px;
}

.button-change button{
    font-size: 17px;
    font-weight: bold;
    border: 1.5px solid #F54253;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    color: white;
    background-color: #F54253;
}

.button-change div{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 500px;
}

.account-address{
    margin-top: 70px;
    float: left;
    width: 60%;
    margin-right: 5%;
    margin-left: 100px;
}

.hr-address hr{
    width: 900px;
    border: 1px solid #CCCCCC;
}

.default-add{
    color: #F54253; 
    font-size: 14px;
}

.part-mot{
    float: left;
    width: 70%;
    height: 100px;
    
}

.part-hai{
    float: left;
    width: 30%;
    height: 100px;
}

.part-hai div{
    float: left;
    width:270px;
    height: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
}

.button-add{
    width: 100%;
    display: flex;
}

.button-add button{
    font-size: 14px;
    font-weight: bold;
    border: 1.5px solid #F54253;
    border-radius: 5px;
    height: 35px;
    width: 110px;
    color: white;
    margin-top: 25px;
    background-color: #F54253;
}










/*Mobile: width <740px */
@media only screen and (max-width: 46.1875em ){
    #banner{
        min-height: fit-content;
        width:100%;
        box-sizing: border-box;

    }

    .left{
        margin-top: 70px;
        float: left;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        border-right: none;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 50px;
        margin-bottom: 10px;
    }
    
    .account-info{
        margin-top: 35px;
        float: left;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .l-title{
        font-size: 27px;
        font-weight: 650;
    }
    
    .l-hello{
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 30px;
    
    }
    
    .l-menu{
        margin-top: 10px;
        width: 50%;
        text-decoration: none;
        float: left;
    }
    
    .l-menu a{
        margin-top: 20px;
        text-decoration: none;
        color: black;
    }






    .account-order{
        margin-top: 35px;
        float: left;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .o-table td, th{
        border: 1px solid #CCCCCC;
        padding: 10px;
        font-size: 13px;
    }
    
    .o-table table{
        border: 1px solid #CCCCCC;
        border-collapse:collapse;
        width: 100%;
    }
    
    .o-table tr:hover{
        background-color:#ddd;
        cursor:pointer;
    }
    
    .paid{
        color: #41A139;
        font-weight: 600;
    }
    
    .unpaid{
        color: #F54253;
        font-weight: 600;
    }





    .account-password{
        margin-top: 35px;
        float: left;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .form-password input{
        border: 1.5px solid #8D8D8D;
        border-radius: 4px;
        height: 40px;
        width: 330px;
        color: #8D8D8D;
        padding-left: 10px;
    }
    
    .button-change button{
        font-size: 17px;
        font-weight: bold;
        border: 1.5px solid #F54253;
        border-radius: 5px;
        height: 40px;
        width: 130px;
        color: white;
        background-color: #F54253;
    }
    
    .button-change div{
        display: flex;
        align-items: center;
        justify-content:end;
        width: 330px;
    }






    
    .account-address{
        margin-top: 35px;
        float: left;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .hr-address hr{
        width: 100px;
        border: 1px solid #CCCCCC;
        display: none;
    }
    
    .part-mot{
        float: left;
        width: 100%;
        height: 100px;
    }
    
    .part-hai{
        float: left;
        width: 100%;
        height: 50px;
    }
    
    .part-hai div{
        float: left;
        width:100%;
        height: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content:end;
        margin-top: 15px;
    }
    
    .button-add button{
        font-size: 14px;
        font-weight: bold;
        border: 1.5px solid #F54253;
        border-radius: 5px;
        height: 35px;
        width: 110px;
        color: white;
        margin-top: 10px;
        margin-bottom: 30px;
        background-color: #F54253;
    }
    
    




    #footer{
        display: none;
    }

    #header, #nav{
        display: none;
    }
}



