

/* CSS chung */
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/* -- Tên giày */
p1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 32px;
}
/* -- Giới tính */
p2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;

}

/* -- Price */
p3{
    font-weight: 700;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;

}

p4{
    font-weight: 700;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

}

/* normal text */
p5{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

}

p6{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;

}


/* CSS cho top content */
/* .top-content{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.top-content .rel{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.top-content .rel img{
    width: 8px;
    margin: 0px 5px 0px 5px;
} */


/* CSS cho đường phân cách */
.bottom-left{
    width: 100%;
    height: 1.5px;
    margin-bottom: 10px;
    background-color: rgba(188, 188, 188, 1);

}


/* CSS cho điều hướng */
ul.breadcrumb {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
  }
  ul.breadcrumb li::after {
    display: inline;
    font-size: 1rem;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
      color: black;
      content: "\003e";
  }
  ul.breadcrumb li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
  }
  ul.breadcrumb li a:hover {
    color: var(--secondary-color);
  }